@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Poppins:wght@400;900&family=Rubik+Mono+One&family=Rubik:wght@700&family=Source+Sans+3&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: linear-gradient(100deg, #000000d3 50%, #000000d3 50%);
}

/* Header Js file */
.link {
  color: #fff;
  text-decoration: none;
  transition: .3;
}

.navbar ul:hover> :not(:hover) {
  /* color: aqua; */
  opacity: .4;
}

.nav-logo {
  width: 100%;
}

.navbar {
  /* position:-webkit-sticky; */
  position: sticky;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #282c34;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  font-size: 1.3rem;
}

ul li,
.navbar>div {
  list-style: none;
}


/* Main Content */

.main-content {
  color: white;
  width: 100%;
  height: 50vh;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/wp9221777.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* my work */
.mywork {
  text-align: center;
  padding: 20px 10px 20px 10px;
  border-bottom: 2px solid black;
}

.mywork h1 {
  padding-bottom: 30px;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 30px;
}

.work a {
  text-decoration: none;
}

.work div:hover {
  transform: scale(0.97);
  transition: transform 0.1s ease;

}

.work div {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 11px;
  padding: 2px;
}

.view-button a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.arrow-button {
  font-size: .7rem;
}

/* swiggy work */
.swiggy_work img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
}

.swiggy_work {
  color: #111;
  background-color: #fff;
}

/* tenzies work */
.tenzies_work img {
  max-width: 100%;
  height: 220px;
  border: none;
  border-radius: 10px;
}

.tenzies_work {
  color: #111;
  background-color: #fff;
}

/* meme work */
.meme_work img {
  width: 100%;
  height: 220px;
  border: none;
  border-radius: 10px;
}

.meme_work {
  color: #111;
  background-color: #fff;
}

/* footer */
#social {
  text-align: center;
  padding: 5px;
  margin-bottom: auto;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.giticon,
.linkedin,
.email {
  color: grey;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.giticon:hover,
.linkedin:hover,
.email:hover {
  transform: scale(1.05);
}

.bars {
  display: none;
}

/* responsive Navbar */
@media screen and (max-width:425px) {
  .navbar {
    /* justify-content:flex-start; */
    flex-direction: column;
    font-size: 1.2rem;
    gap: 10px;
  }

  .nav-logo {
    text-align: center;
  }

  .navbar ul {
    width: 100%;
    gap: 15px;
    flex-direction: column;
  }

  .main-content h3 {
    text-align: center;
  }

  .project1 img,
  .project1 .project_description,
  .project2 img,
  .project2 .project_description,
  .project3 img,
  .project3 .project_description {
    padding: 10px;
  }
}

/* responsive main content */

@media screen and (max-width:768px) {
  .main-content h3 {
    max-width: 100%;
    text-align: center;
  }

  .work {
    flex-direction: column;
  }
  .Tech-stack{
    justify-content: space-around;
    padding: 20px;
  }
}

@media screen and (max-width:350) {
  .main-content {
    max-width: 50%;
    text-align: center;
  }
}

/* Project 1 Section  */

.project1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project1 img {
  max-width: 100%;
  height: auto;
}

.project1 .project_description {
  max-width: 500px;
  height: auto;
}


/* Project 2 section */
.project2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: column-reverse; */
}

.project2 img {
  max-width: 100%;
  height: auto;
}

.project2 .project_description {
  max-width: 500px;
  height: auto;
}

/* project 3 section  */
.project3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-direction: column-reverse; */
}

.project3 img {
  max-width: 100%;
  height: auto;
}

.project3 .project_description {
  max-width: 500px;
  height: auto;
}

.project1,
.project2,
.project3 {
  padding: 25px 30px;
}
